<div class="container-fluid">
  <div class="bg-white content-panel">
    <h1>Search date range</h1>
    <hr/>

    <p>Select a start date and end date to seach</p>
    <br>

    <%= form_tag(search_range_results_path, :method => "get",   
          class: 'seach-range') do %> 
          <div id="searchRangeBar" class="row">
            <div class="col-6 row">
              <div class="col-3">
                <p>Start Date: </p>
              </div>
              <div class="col-7">
              <%= date_field_tag :startdate, params[:startdate],  class: "form-control" %> 
              </div>
            </div>
            <div class="col-6 row">
              <div class="col-3">
                <p>End Date:</p>
              </div>
              <div class="col-7">
                <%= date_field_tag :enddate, params[:enddate],  class: "form-control" %>
              </div> 
              <div class="col-2">
                <%= button_tag "Select", :class => 'btn btn-info',:name => nil%> 
              </div>
            </div>
          </div>
          <br>
          <br>
    <% end %> 

  </div>
</div>

