<div class="container-fluid">
	<div class="bg-white content-panel">

		<h1>Editing Customer</h1>
		<hr/>
		<%= render 'form', customer: @customer %>

		<%= link_to 'Show', @customer %> |
		<%= link_to 'Back', customers_path %>
	</div>
</div>
